<div class="container">
   
    <form class="what" action="/action_page.php">
        <h1>LOGIN</h1>
        <br>
      <label for="fname" [formControl]="number">Mobile Number</label><br>
      <input type="text" id="fname" name="fname" placeholder="Enter cellphone number"><br><br>
      <label for="lname" [formControl]="password">Password</label><br>
      <input type="password" id="password" name="password" placeholder="Enter password"><br><br>
      <button class="button" >LOGIN</button>
      <br>
      <p>forgot password?</p>
    </form>
    
    </div>